@import url(https://fonts.googleapis.com/css2?family=Poppins); /* Text font link */
/* Genel */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
  border: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Body */
body {
  background: #fefefe;
  width: 100%;
  display: grid;
  place-items: center;
}

/* Header - Navbar */
header {
  width: 100%;
  height: 80px;
  background: #d50000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: relative;
  box-shadow: 0px 0px 20px black;
}

.logo a {
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #ff0000;
  background-color: #fefefe;
}

.nav-bar ul li a.active {
  color: #ff0000;
  background-color: #fefefe;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #ff2f2f;
    transition: 0.2s;
    overflow: hidden;
    z-index: 13;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

/* Siha */
.row {
  width: 90%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  overflow-x: hidden;
  padding: 4rem 0;
}

.row.imgWrapper {
  overflow: hidden;
}

.row .row.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.row .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.row.contentWrapper span.textWrapper {
  display: block;
  font-size: 30px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.row .contentWrapper h2 {
  font-size: 50px;
  font-weight: 700;
  color: #ff2f2f;
  padding-bottom: 20px;
}

.row .contentWrapper p{
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 25px;
}

.row.contentWrapper a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #ff2f2f;
  color: #fefefe;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
}

@media (max-width: 1200px){
  .row {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .row .contentWrapper {
    padding-left: 0;
    margin: auto;
  }
  .row .imgWrapper {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .row {
    width: 90%;
  }
  .row .contentWrapper h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  
  .row .contentWrapper p{
    line-height: 24px;
  }
}

@media (max-width: 575px) {
  .row.contentWrapper span.textWrapper {
    font-size: 18px;
  }
  .row .contentWrapper h2 {
    font-size: 25px;
  }
  
  .row .contentWrapper p{
    font-size: 15px;
    line-height: 22px;
  }
  .row.contentWrapper a {
    font-size: 15px;
    padding: 10px 20px;
  }
}

/* Top Scroll Button */
.topBtn {
  background: #ff2f2f;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.topBtn.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
